/*
	
	EUX
	#madeinsquamish	
	version 1.0
	
*/
/* --------------------------------------------------

	prototype
	jesse
	
-------------------------------------------------- */
/* !css libraries */
@import url(normalize.css);
@import url(css/fontello.css);
/* !extensions */
/* --------------------------------------------------

	GLOBAL
	
-------------------------------------------------- */
/* !opinated defaults */
/* line 2, ../../../_sass/global/_defaults.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 9, ../../../_sass/global/_defaults.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 13, ../../../_sass/global/_defaults.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 18, ../../../_sass/global/_defaults.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 22, ../../../_sass/global/_defaults.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 30, ../../../_sass/global/_defaults.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 36, ../../../_sass/global/_defaults.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 41, ../../../_sass/global/_defaults.scss */
ul, ol, li {
  margin: 0;
  padding: 0;
}

/* line 45, ../../../_sass/global/_defaults.scss */
textarea {
  resize: vertical;
}

/* line 41, ../../../_sass/global/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
body:after {
  clear: both;
}

/* --------------------------------------------------

	VARIABLES
	
-------------------------------------------------- */
/* !pump the baseline */
/* !colors */
/* !fx */
/* !grids, layout */
/* !johnny utah */
/* --------------------------------------------------

	FUNCTION PARTIALS
	
-------------------------------------------------- */
/* line 6, ../../../_sass/global/_functions.scss */
.wrapper {
  position: relative;
  max-width: 960px;
  padding: 56px;
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
.wrapper:after {
  clear: both;
}

/* line 13, ../../../_sass/global/_functions.scss */
.bg, a.card:after, .js_menu:after {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------

	MODULES
	** responsive type overrides GO LAST!
	
-------------------------------------------------- */
/* !typography */
/* line 106, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.28571em;
}

/* line 5, ../../../_sass/modules/_typography.scss */
body {
  background: #111;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  color: #f7f7f5;
}

/* line 12, ../../../_sass/modules/_typography.scss */
h1, h4, h5, h6 {
  text-transform: uppercase;
}

/* line 16, ../../../_sass/modules/_typography.scss */
h1 {
  font-size: 2.57143em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}
/* line 19, ../../../_sass/modules/_typography.scss */
h1 span {
  font-size: 0.64286em;
  line-height: 1em;
  display: inline-block;
}

/* line 24, ../../../_sass/modules/_typography.scss */
img + h1 {
  position: relative;
  margin-top: -28px !important;
}

/* line 28, ../../../_sass/modules/_typography.scss */
h2 {
  font-size: 1.78571em;
  line-height: 1.26em;
  margin-top: 0.64286em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.64286em;
}

/* line 32, ../../../_sass/modules/_typography.scss */
h3 {
  font-size: 1.42857em;
  line-height: 1.485em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.28571em;
  font-weight: lighter;
}
/* line 36, ../../../_sass/modules/_typography.scss */
h3 strong {
  font-weight: bolder;
  text-transform: uppercase;
}

/* line 41, ../../../_sass/modules/_typography.scss */
h4 {
  font-size: 1.28571em;
  line-height: 1.3em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.12857em;
}
/* line 44, ../../../_sass/modules/_typography.scss */
h4 span {
  font-weight: lighter;
  color: #aa080a;
}

/* line 49, ../../../_sass/modules/_typography.scss */
h5, time, .date {
  font-size: 1.14286em;
  line-height: 1.35em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.96429em;
}

/* line 53, ../../../_sass/modules/_typography.scss */
h6 {
  font-size: 1.21429em;
  line-height: 2.11765em;
}

/* line 56, ../../../_sass/modules/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.41429em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.60714em;
}

/* line 60, ../../../_sass/modules/_typography.scss */
a {
  color: #aa080a;
  text-decoration: none;
  -moz-transition: all 260ms linear;
  -o-transition: all 260ms linear;
  -webkit-transition: all 260ms linear;
  transition: all 260ms linear;
}

/* line 65, ../../../_sass/modules/_typography.scss */
hr {
  border: none;
  border-top: 1px solid rgba(247, 247, 245, 0.5);
  *zoom: 1;
  width: 100%;
  height: 56px;
  margin-top: 28px;
}
/* line 26, ../../../_sass/global/_grid.scss */
hr:before, hr:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
hr:after {
  clear: both;
}

/* line 73, ../../../_sass/modules/_typography.scss */
table {
  width: 100%;
}
/* line 75, ../../../_sass/modules/_typography.scss */
table td {
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 0;
}

/* line 81, ../../../_sass/modules/_typography.scss */
.meta {
  font-size: 1.14286em;
  line-height: 0em;
  margin: 0;
}

/* line 87, ../../../_sass/modules/_typography.scss */
.content .sched h2 {
  margin-top: 0.64286em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.64286em;
}
/* line 91, ../../../_sass/modules/_typography.scss */
.content .sched h3 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2.57143em;
}

/* -------------------------------------------------- */
/* !layout blocks */
/* -------------------------------------------------- */
/* line 7, ../../../_sass/modules/_layout.scss */
body {
  background: #240100;
}
/* line 9, ../../../_sass/modules/_layout.scss */
body .fixed {
  position: fixed;
  z-index: -1;
}

/* line 16, ../../../_sass/modules/_layout.scss */
*.touch body .fixed {
  background: #050400 url("/assets/images/panels/ipad.jpg") no-repeat 0 0;
  background-size: 100%;
}

/* line 21, ../../../_sass/modules/_layout.scss */
img {
  max-width: 100%;
  width: 100%;
}

/* line 25, ../../../_sass/modules/_layout.scss */
.logo {
  width: 100%;
  max-width: 600px;
}
/* line 28, ../../../_sass/modules/_layout.scss */
.logo img {
  max-width: 100%;
}

/* line 32, ../../../_sass/modules/_layout.scss */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 420px;
  display: table;
  overflow: hidden;
}
/* line 39, ../../../_sass/modules/_layout.scss */
.hero .logo {
  margin: 0 auto;
}
/* line 42, ../../../_sass/modules/_layout.scss */
.hero .container {
  position: relative;
  z-index: 2;
  padding: 28px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 12px solid #111111;
  border-bottom: none;
}
@media (min-width: 600px) {
  /* line 42, ../../../_sass/modules/_layout.scss */
  .hero .container {
    padding: 56px;
  }
}

/* line 58, ../../../_sass/modules/_layout.scss */
.bg {
  z-index: 0;
}

/* line 62, ../../../_sass/modules/_layout.scss */
*.no-touch .bg {
  background-size: cover;
  background-position: 50% 50%;
}

/* line 66, ../../../_sass/modules/_layout.scss */
*.touch .bg {
  background: #240100 url("../assets/images/01.jpg") no-repeat 100% 100%;
  background-size: auto 100%;
}

/* line 70, ../../../_sass/modules/_layout.scss */
.viewport {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 72, ../../../_sass/modules/_layout.scss */
.viewport .content, .viewport .js_content {
  position: relative;
  width: 100%;
}

/* line 78, ../../../_sass/modules/_layout.scss */
.content {
  position: relative;
  width: 100%;
}
/* line 81, ../../../_sass/modules/_layout.scss */
.content .logo {
  max-width: 420px;
}
/* line 84, ../../../_sass/modules/_layout.scss */
.content h1 {
  font-size: 4.14286em;
  line-height: 0.86897em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.32143em;
  font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: bolder;
}
/* line 89, ../../../_sass/modules/_layout.scss */
.content h1:nth-child(2) {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.60714em;
}
/* line 93, ../../../_sass/modules/_layout.scss */
.content h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2.57143em;
}

/* line 97, ../../../_sass/modules/_layout.scss */
.wrapper {
  max-width: 100%;
  z-index: 2;
  *zoom: 1;
  padding: 56px 28px;
}
/* line 26, ../../../_sass/global/_grid.scss */
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
.wrapper:after {
  clear: both;
}
@media (min-width: 600px) {
  /* line 97, ../../../_sass/modules/_layout.scss */
  .wrapper {
    padding: 56px;
  }
}
@media (min-width: 900px) {
  /* line 97, ../../../_sass/modules/_layout.scss */
  .wrapper {
    max-width: 960px;
    padding: 56px 168px 56px 56px;
  }
}

/* line 112, ../../../_sass/modules/_layout.scss */
.row {
  display: block;
  width: 102.29469%;
  margin: 0 -1.14734%;
  *zoom: 1;
  margin-bottom: 56px;
}
/* line 26, ../../../_sass/global/_grid.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
.row:after {
  clear: both;
}
/* line 115, ../../../_sass/modules/_layout.scss */
.row > [class*="col"] {
  display: inline;
  float: left;
  width: 47.70531%;
  margin: 0 1.14734%;
}

/* line 119, ../../../_sass/modules/_layout.scss */
img {
  display: block;
  margin-bottom: 28px;
}
@media (min-width: 600px) {
  /* line 119, ../../../_sass/modules/_layout.scss */
  img {
    margin-bottom: 56px;
  }
}

/* line 126, ../../../_sass/modules/_layout.scss */
[role], footer {
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
[role]:before, [role]:after, footer:before, footer:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
[role]:after, footer:after {
  clear: both;
}

/* line 129, ../../../_sass/modules/_layout.scss */
.cards {
  position: relative;
  z-index: 5;
  border-top: 12px solid #111111;
  float: left;
  width: 100%;
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
.cards:before, .cards:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
.cards:after {
  clear: both;
}

/* line 139, ../../../_sass/modules/_layout.scss */
a.card:after {
  content: "";
  background: #aa080a;
  border-bottom: 12px solid #111111;
  border-right: 12px solid #111111;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 260ms ease-out;
  -o-transition: all 260ms ease-out;
  -webkit-transition: all 260ms ease-out;
  transition: all 260ms ease-out;
}
/* line 152, ../../../_sass/modules/_layout.scss */
a.card:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}

/* line 157, ../../../_sass/modules/_layout.scss */
.card {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 0;
  padding-top: 100%;
  width: 100%;
}
/* line 58, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.9.0/stylesheets/toolkit/_intrinsic-ratio.scss */
.card > * {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 46, ../../../_sass/global/_functions.scss */
.card .container {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* line 55, ../../../_sass/global/_functions.scss */
.card .container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 61, ../../../_sass/global/_functions.scss */
.card .container div {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

/* line 162, ../../../_sass/modules/_layout.scss */
.card {
  background: #240100;
  float: left;
}
@media (min-width: 600px) {
  /* line 162, ../../../_sass/modules/_layout.scss */
  .card {
    position: relative;
    height: 0;
    padding-top: 50%;
    width: 50%;
  }
  /* line 58, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.9.0/stylesheets/toolkit/_intrinsic-ratio.scss */
  .card > * {
    display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  /* line 162, ../../../_sass/modules/_layout.scss */
  .card {
    position: relative;
    height: 0;
    padding-top: 33.33333%;
    width: 33.33333%;
  }
  /* line 58, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/toolkit-2.9.0/stylesheets/toolkit/_intrinsic-ratio.scss */
  .card > * {
    display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    margin: 0;
    padding: 0;
  }
}
/* line 175, ../../../_sass/modules/_layout.scss */
.card .container > div:first-child * {
  color: #f7f7f5;
  text-transform: uppercase;
}
/* line 181, ../../../_sass/modules/_layout.scss */
.card .button {
  width: auto;
  display: inline-block;
}
/* line 188, ../../../_sass/modules/_layout.scss */
.card h1 {
  border-top: 6px solid #f7f7f5;
  border-bottom: 6px solid #f7f7f5;
  display: inline-block;
  padding: 7px;
  margin: 7px;
  line-height: 0.9em;
}
/* line 196, ../../../_sass/modules/_layout.scss */
.card nav {
  white-space: nowrap;
}
/* line 199, ../../../_sass/modules/_layout.scss */
.card [class*="icon"] {
  font-size: 44px;
}
/* line 202, ../../../_sass/modules/_layout.scss */
.card:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  content: "";
  border-bottom: 12px solid #111111;
  border-right: 12px solid #111111;
}

/* line 216, ../../../_sass/modules/_layout.scss */
#feed .card .container {
  display: none;
}
/* line 220, ../../../_sass/modules/_layout.scss */
#feed .card:hover .container {
  display: inherit;
}

/* line 227, ../../../_sass/modules/_layout.scss */
footer {
  border-top: 1px solid rgba(247, 247, 245, 0.5);
  margin-top: 112px;
  padding-top: 28px;
}
/* line 231, ../../../_sass/modules/_layout.scss */
footer nav {
  white-space: nowrap;
}
/* line 233, ../../../_sass/modules/_layout.scss */
footer nav li {
  float: left;
}
/* line 236, ../../../_sass/modules/_layout.scss */
footer nav a {
  padding: 0 !important;
}
/* line 238, ../../../_sass/modules/_layout.scss */
footer nav a * {
  padding: 0 !important;
}

/* -------------------------------------------------- */
/* !navigation */
/* -------------------------------------------------- */
/* !responsive menu */
/* line 8, ../../../_sass/modules/_navigation.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 12, ../../../_sass/modules/_navigation.scss */
*.touch .viewport {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 16, ../../../_sass/modules/_navigation.scss */
.js_menu {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background: #111111;
}
/* line 24, ../../../_sass/modules/_navigation.scss */
.js_menu:after {
  content: "\f008";
  font-family: "fontello";
  text-align: center;
  line-height: 44px;
}

/* line 34, ../../../_sass/modules/_navigation.scss */
nav ul, footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
nav ul:before, nav ul:after, footer ul:before, footer ul:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
nav ul:after, footer ul:after {
  clear: both;
}
/* line 40, ../../../_sass/modules/_navigation.scss */
nav ul li, footer ul li {
  position: relative;
  text-align: left;
  display: inline-block;
}
/* line 44, ../../../_sass/modules/_navigation.scss */
nav ul li a, footer ul li a {
  text-transform: uppercase;
  color: #c5c5c4;
  padding: 11.2px;
  display: block;
}
/* line 49, ../../../_sass/modules/_navigation.scss */
nav ul li a [class*="icon"], footer ul li a [class*="icon"] {
  font-size: 2em;
  line-height: 0px;
  padding: 0;
  margin: 0;
}
/* line 55, ../../../_sass/modules/_navigation.scss */
nav ul li a.on, footer ul li a.on {
  color: #aa080a;
}

/* line 63, ../../../_sass/modules/_navigation.scss */
.viewport {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
}

/* line 69, ../../../_sass/modules/_navigation.scss */
[role*="navigation"] {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 152px;
  background: #0e0e0e;
  display: table;
  height: 100%;
  overflow: hidden;
  -moz-transform: translate3d(-140px, 0, 0);
  -ms-transform: translate3d(-140px, 0, 0);
  -webkit-transform: translate3d(-140px, 0, 0);
  transform: translate3d(-140px, 0, 0);
  -moz-transition: all 260ms ease-out;
  -o-transition: all 260ms ease-out;
  -webkit-transition: all 260ms ease-out;
  transition: all 260ms ease-out;
}
/* line 82, ../../../_sass/modules/_navigation.scss */
[role*="navigation"] ul {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 11.2px;
}
/* line 87, ../../../_sass/modules/_navigation.scss */
[role*="navigation"] ul li {
  display: block;
}
/* line 91, ../../../_sass/modules/_navigation.scss */
[role*="navigation"].on {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
  /* line 98, ../../../_sass/modules/_navigation.scss */
  .viewport {
    left: 140px;
  }

  /* line 101, ../../../_sass/modules/_navigation.scss */
  .js_menu {
    display: none;
  }

  /* line 104, ../../../_sass/modules/_navigation.scss */
  [role*="navigation"] {
    width: 140px;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1, ../../../_sass/modules/_ui.scss */
.button {
  background: #aa080a;
  text-transform: uppercase;
  font-weight: bold;
  padding: 14px;
  color: #f7f7f5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 8, ../../../_sass/modules/_ui.scss */
.button.on {
  background: none;
}

/* line 12, ../../../_sass/modules/_ui.scss */
a.down {
  border: 2px solid rgba(209, 209, 208, 0.84);
  position: absolute;
  left: calc(50% - 30px);
  bottom: 15%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  display: none;
}
@media (min-width: 600px) {
  /* line 12, ../../../_sass/modules/_ui.scss */
  a.down {
    display: inline-block;
  }
}
/* line 32, ../../../_sass/modules/_ui.scss */
a.down:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 53px;
  content: "\f004";
  font-family: "fontello";
  font-size: 1.5em;
  color: #f7f7f5;
}
/* line 45, ../../../_sass/modules/_ui.scss */
a.down:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  border: 2px solid #900608;
  -moz-transform: translate3d(0, 8%, 0);
  -ms-transform: translate3d(0, 8%, 0);
  -webkit-transform: translate3d(0, 8%, 0);
  transform: translate3d(0, 8%, 0);
}

/* line 52, ../../../_sass/modules/_ui.scss */
form {
  margin-bottom: 56px;
}
/* line 54, ../../../_sass/modules/_ui.scss */
form ul {
  list-style-type: none;
}
/* line 56, ../../../_sass/modules/_ui.scss */
form ul li {
  margin-bottom: 28px;
}
/* line 60, ../../../_sass/modules/_ui.scss */
form input {
  border: none;
  background: #f7f7f5;
  font-size: 1em;
  line-height: 1.41429em;
  padding: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 67, ../../../_sass/modules/_ui.scss */
form .medium {
  width: 100%;
}
/* line 70, ../../../_sass/modules/_ui.scss */
form .hide {
  display: none;
}

/* --------------------------------------------------

	VIDEO
	http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	
-------------------------------------------------- */
/* line 7, ../../../_sass/modules/_misc.scss */
video {
  max-width: 100%;
  height: auto;
}

/* line 12, ../../../_sass/modules/_misc.scss */
.flex-video {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 56px;
  overflow: hidden;
}

/* line 20, ../../../_sass/modules/_misc.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%;
}

/* line 21, ../../../_sass/modules/_misc.scss */
.flex-video.vimeo {
  padding-top: 0;
}

/* line 22, ../../../_sass/modules/_misc.scss */
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------

	tweaks
	
-------------------------------------------------- */
/* line 36, ../../../_sass/modules/_misc.scss */
.disable-hover {
  pointer-events: none;
}

/* line 39, ../../../_sass/modules/_misc.scss */
.iOS_tweaks {
  height: 100vh;
  overflow: scroll;
  -webkit-overflow-scrolling: auto;
}

/* --------------------------------------------------

	loading spinner
	
-------------------------------------------------- */
/* line 49, ../../../_sass/modules/_misc.scss */
.loading {
  position: relative;
  margin: 5% auto;
  display: block;
  width: 56px;
  height: 56px;
  text-align: center;
}
/* line 57, ../../../_sass/modules/_misc.scss */
.loading:after {
  position: absolute;
  content: "";
  border-bottom: 8px solid #240100;
  border-left: 8px solid #240100;
  border-right: 8px solid #aa080a;
  border-top: 8px solid #aa080a;
  display: block;
  height: 56px;
  width: 56px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-animation-name: spin;
  -webkit-animation-name: spin;
  animation-name: spin;
  -moz-animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* -------------------------------------------------- */
/* js hooks

/* -------------------------------------------------- */
/* line 79, ../../../_sass/modules/_misc.scss */
.js_target {
  position: relative;
  float: left;
  width: 100%;
  *zoom: 1;
}
/* line 26, ../../../_sass/global/_grid.scss */
.js_target:before, .js_target:after {
  content: "";
  display: table;
}
/* line 31, ../../../_sass/global/_grid.scss */
.js_target:after {
  clear: both;
}

/* -------------------------------------------------- */
/* animations

/* -------------------------------------------------- */
/* line 91, ../../../_sass/modules/_misc.scss */
.viewport .content, .viewport .js_content {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: 660ms;
  -webkit-animation-duration: 660ms;
  animation-duration: 660ms;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 108, ../../../_sass/modules/_misc.scss */
#feed .card:hover .container, .loading {
  -moz-animation-name: zoomIn;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -moz-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  25% {
    -moz-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 0.2;
  }
  75% {
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  25% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 0.2;
  }
  75% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  25% {
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 0.2;
  }
  75% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes slideOut {
  0% {
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
  }
}
@-moz-keyframes slideIn {
  0% {
    -moz-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes spin {
  to {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  to {
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* -------------------------------------------------- */
/* !type breakpoints */
/* -------------------------------------------------- */
@media (min-width: 0px) and (max-width: 800px) {
  /* line 106, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 87.5%;
    line-height: 1.28571em;
  }
}
@media (min-width: 600px) {
  /* line 106, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 87.5%;
    line-height: 1.28571em;
  }
}
@media (min-width: 1280px) {
  /* line 106, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 87.5%;
    line-height: 1.28571em;
  }
}
/* -------------------------------------------------- */
