---
layout: default
title: The Gathering Burlington
---
<section class="js_content">
	<section style=" text-align: center; margin: 10% auto">
		<div class="container" style="width: 70%; max-width: 660px; min-width: 280px; margin: 0 auto 7%;">
			<div class="logo" style="margin: 0 auto;"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
			<div class="flex-video vimeo widescreen">
				<iframe src="https://player.vimeo.com/video/137205274?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<h1><span>SHAUN MAJUMDER & FRIENDS PRESENT</span><br>
		Fire Food Music</h1>
		<h2>August 27 &mdash; 30, 2015<br>
		Burlington, NL</h2>
			
		<div class="container" style="width: 70%; max-width: 660px; min-width: 280px; margin: 0 auto 7%;">
			<div class="flex-video vimeo widescreen">
				<iframe src="https://player.vimeo.com/video/135004219?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<div class="container" style="width: 70%; max-width: 660px; min-width: 280px; margin: 0 auto 7%;">
			<div class="flex-video vimeo widescreen">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/UXFqL0xVoxo?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;controls=0" frameborder="0" allowfullscreen style="background: transparent !important"></iframe>
			</div>
		</div>
	</section>
	<section class="cards js_nav">
		<a href="/schedule/" class="card">
			<div class="container">
				<div>
					<div class="meta">3-Days</div>
					<h1>The Schedule</h1>
					<div class="meta">In Burlington</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/15-s.jpg);"></div>
		</a>
		<a href="/music/" class="card">
			<div class="container">
				<div>
					<div class="meta">Great</div>
					<h1>The Music</h1>
					<div class="meta">Artists &amp; Bands</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/13-s.jpg);"></div>
		</a>
		<a href="/tickets/" class="card">
			<div class="container">
				<div>
					<div class="meta">Buy Online</div>
					<h1>Tickets</h1>
					<div class="meta">Now Available</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/03-s.jpg);"></div>
		</a>
		<a href="/chefs/" class="card">
			<div class="container">
				<div>
					<div class="meta">Culinary</div>
					<h1>The Chefs</h1>
					<div class="meta">Delights</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/18-s.jpg);"></div>
		</a>
		<a href="/experience/" class="card">
			<div class="container">
				<div>
					<div class="meta">The Gathering</div>
					<h1>The Photos</h1>
					<div class="meta">Past</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/16-s.jpg);"></div>
		</a>
		<a href="/story/" class="card">
			<div class="container">
				<div>
					<div class="meta">Annual</div>
					<h1>The Story</h1>
					<div class="meta">Festival</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/02-s.jpg);"></div>
		</a>
		<a href="/camping/" class="card">
			<div class="container">
				<div>
					<div class="meta">Local</div>
					<h1>The Camping</h1>
					<div class="meta">Accommodation</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/08-s.jpg);"></div>
		</a>
		<div class="card">
			<div class="container">
				<div>
					<h2>Bringing together world class chefs and musicians around open fire, to celebrate what's best about Newfoundland and Labrador.</h2>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/13-s.jpg);"></div>
		</div>
		<div class="card">
			<div class="container">
				<div></div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/10-s.jpg);"></div>
		</div>
		
		<a class="card js_exempt" href="http://fnd.us/c/doBYb/sh/63oFy6" style="background:#111111" target="_blank" >
			<div class="container">
				<div>
					<h2>Help Us Grow!</h2>
					<h3>We need your support to help us create and build a world class cultural toursim destination</h3>
					<span  class="button">View Campaign</span>
				</div>
			</div>
		</a>
		<a href="/adventure/" class="card">
			<div class="container">
				<div>
					<div class="meta">Zodiac Tours</div>
						<h1>Ocean Quest Adventures</h1>
					<div class="meta">Kayak Trips</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/ocean-quest/home.01.jpg);"></div>
		</a>
		<a href="/adventure/" class="card" style="background:#602e2f">
			<div class="container">
				<div>
					<h2>Gathering Excursions</h2>
					<h3>Exclusive boat tours and kayaking trips just for you!</h3>
					<span  class="button">Book ASAP!</span>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/ocean-quest/home.02.jpg);"></div>
		</a>
		
		
		<a href="https://www.google.ca/maps/place/Burlington,+NL/@49.7473425,-56.0124394,6z/data=!4m2!3m1!1s0x4b7837a36794846f:0xdd129974466c0fc7" target="_blank" class="card js_exempt">
			<div class="container">
				<div>
					<h2>BURLINGTON, NL</h2>
					<h3>There’s only one road in, and one road out so if you made it that far you’ll be fine!</h3>
					<span class="button">map</span>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/07-s.jpg);"></div>
		</a>
		<div class="card">
			<div class="container">
				<div>
					<h2>Follow Us!</h2>
					<nav>
						<ul>
							<li><a href="https://www.facebook.com/thegatheringburlington" target="_blank" class="js_exempt"><span class="icon-facebook-circled"></span></a></li>
							<li><a href="http://www.twitter.com/BurlGathering" target="_blank" class="js_exempt"><span class="icon-twitter-circled"></span></a></li>
							<li><a href="http://instagram.com/thegatheringburlington" target="_blank" class="js_exempt"><span class="icon-instagram-circled"></span></a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/19-s.jpg);"></div>
		</div>
		<a href="#feed" class="card js_insta js_exempt">
			<div class="container">
				<div>
					<div class="jk_ui_elevator">
						<h2><span class="icon-instagram-circled"></span></h2>
						<h2>#firefoodmusic</h2>
						<span class="button">Instagram Feed</span>
					</div>
				</div>
			</div>
			<div class="bg" style="background-image: url(/assets/images/panels/05-s.jpg);"></div>
		</a>
		<div id="feed" class="js_target"></div>
	</section>
</section>


