---
layout: default
title: Chefs
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>CHEFS</span><br>
		Hand picked team of world class chefs</h1>

		<img src="/assets/images/content/chef-roary.jpg" alt="chef-roary">
		<h1>Roary MacPhearson</h1>
		<h2>The Sheraton</h2>
		
		<p>Roary MacPherson, Executive chef at the Sheraton Hotel Newfoundland since 2003  is a proud Newfoundlander. Five Time James Beard Foundation presenter, 2 time culinary Olympic competitor once with a bronze medal, twice Gold Medal Plates St. John’s bronze medal winner, Good Food Innovations award for Food day Canada 2012 , 2011 Best menu award for Food day Canada ,   Roary is no stranger to competitions both local, national and International . In 2005 he represented Canada in the 1st Canada vs. USA cook off at the international culinary tourism conference in San Francisco, where as a member of a three person team they won gold. Roary has worked all across the country and back again with Fairmont Hotels and Resorts, Delta Hotels and resorts and now with Fortis Properties and the Sheraton.</p>

		<p>Roary is a big promoter of others in the province as well through his trips to the James Beard house where there have been in excess of 25 Newfoundland chef’s with another 7 going in 2013. Right Now his latest project is managing the senior culinary team at the upcoming Atlantic competition. Also a firm believer in upgrading his skills Roary has completed his Chef De Cuisine certification and is a Certified Food and Beverage Executive. Roary continues to be a huge part of the community as well with countless  charitable event with many organizations  from Children’s Wish, Anglican Church of Newfoundland projects, Autism just to name a few.</p>

		<p>Roary continues to promote the province as well, This past fall he organized The rural portion of the From This Rock culinary road show and also help organize the inaugural Mid-Winter Bivver Snowmobile event In Grand Falls Windsor. This March He is off To Boston to participate in the Boston Seafood Show. </p>
		
		<hr>
		
		<img src="/assets/images/content/chef-vardy.jpg" alt="chef-vardy">
		<h1>Stephen Vardy</h1>
		<h2>Adelaide Oyster House</h2>
		
		<p>Award winning Chef & Proprietor Stephen Vardy of the Adelaide Oyster House holds over two decades of experience. Raised in Newfoundland and proud of his heritage, Stephen moved to Ottawa in 1991 and began to build his career. Entering the kitchen at the bottom of the brigade in 1992, Stephen persistently worked his way up through the ranks to be one of the most influential Chefs in Ottawa, Canada.</p>

		<p>After training with revered chefs like Michael Smith, Robert Bourassa, John Taylor and many of New York’s finest he went on to open critically acclaimed Beckta Dinning and Wine with Stephen Beckta. It won him four consecutive CAA/AAA 4 diamond awards, two stars in Where to Eat in Canada (during his stay) and fourth best new restaurant in Canada by En Route Magazine. He was only 24 years old.</p>

		<p>Stephen has since gone on to achieve Ottawa’s first Epicurean Chef of the year award 2006, 07, 3rd place in Canada’s Gold medal Plates, appear in Time Magazine along with dozens of other publications and establish other culinary land marks in Ottawa such as The Black Cat Bistro and Whalesbone Oyster House.</p>

		<p>He has charmed stars and executives alike and continues to instigate the dining scene in Canada. To name A few; The Rolling Stones, Robert Plant, Liam Neesson, Kate Blanchett, Wayne Gretzky, Joni Mitchell, Diana Krall, Tori Spelling, Casper Weinberger, Rick Mercer, Allan Hawco, Shaun Majumder, Shelby Fenner, Prime Ministers, Premiers and Politicians have all passed through his kitchen doors.</p>
		
		<p>Stephen has quickly won the hearts and stomachs of diners and critics, offering charm and passion with guests in addition to his diverse culinary arsenal. His cuisine is intensely personal and showcases the skilled technique and great respect for the traditional roots it spawns from. </p>
		
		<hr>

		<img src="/assets/images/content/chef-murray.jpg" alt="chef-murray">
		<h1>Murray McDonald</h1>
		<h2>Fogo Island Inn</h2>

		<p>Born and raised In Newfoundland, Murray has known he would be a professional chef since the age of 14. Experimenting at home while his mother (a nurse) was working, Murray developed a flair for inventiveness. He graduated from the Culinary Institute of Canada in P.E.I. in 2000, and apprenticed under Chef Sheldon Russell at the Keystone Alley Cafe in Stratford, Ontario. This strict, old-school English-style kitchen instilled a strong work ethic and attention to detail that has stayed with Murray ever since.</p>
	
		<p>Murray packed up his strong work ethic took it around the world, working in Bermuda, the Grand Cayman Islands, and the Cook Islands in the South Pacific, eventually falling in love with New Zealand where he worked at  Millbrook Resort in Queenstown, rising to the level of Executive Sous Chef.</p>                  

		<p>He then was recruited to work at the world-renowned Huka Lodge in Lake Taupo as Sous Chef, working under Michelin-star trained Chefs, gaining respect for using old European techniques to create new dishes and flavors. Murray then moved to the five-diamond Ritz-Carlton Cancun, where as Chef de Cuisine, he worked under noted Chef and Author Rainer  Zinngrebe, perfecting techniques and developing his own personal style.</p>
	
		<p>With his new small family, Murray started looking eastward for  opportunities to move closer to home… it is a confluence of great energies that the Fogo Island Inn was just coming into reality at that  time. Murray loves that the philosophy of the Inn is to bring new  ideas to old techniques and to utilize "local everything" as much as  is possible. This allows Murray a chance to showcase and explore  Newfoundland cuisine while highlighting original dishes and  ingredients from Newfoundland's historical trading partners while continuing his life’s culinary journey in this beautiful remote North Atlantic island.</p>
		
		<hr>
		
		<img src="/assets/images/content/chef-charles.jpg" alt="chef-charles">
		<h1>Jeremy Charles</h1>
		<h2>Raymonds Restaurant</h2>
		<p>Chef Jeremy Charles has spent the last 10 years on a cross-continental culinary adventure. He has travelled from the rugged wilderness of the Canadian shield at the Molson Fly Fishing Camp in Godbout, Quebec, where he was head chef to the Molson and Bronfman families, to the slick urban oases of Los Angeles and Chicago, where he staged and served as a private chef. The diversity of Jeremy's experience continues to guide him on his culinary journey toward the redefinition of rustic East Coast cuisine. While at the helm of Atlantica — voted in 2007 the #1 Best New Restaurant in Canada by EnRoute Magazine — Jeremy's penchant for using only the freshest, most vibrant and authentic ingredients from local purveyors won him accolades at home and abroad. Now he plans to raise the culinary bar in St. John's once again.</p>

		
		<hr>

		<h3>Plus many more..</h3>
		<!--<h4>Andrea Maunder</h4>
		<p>Bacalao</p>
		
		<h4>Roger Dwelling </h4>
		<p>The St. Jude</p>

		<h4>Brian Piercey </h4>
		<p>The Celtic Hearth</p>

		<h4>Courtney Ralph</h4>
		<p>Rocket Bakery</p>-->
		
		{% include content-footer.inc.html %} 
	</div>
</section>
