---
layout: default
title: Accommodations
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Accommodations</span><br>
		Where to stay when you are here</h1>
		
		<h3>Currently there are no hotels or B&Bs in Burlington, Middle Arm or Smith's Harbour specifically... we're working on it.</h3>

		<h3><a href="http://www.omesweetome.com/" target="_blank">www.omesweetome.com</a></h3>
		
		<h3>Burlington is three hours west of Gander and two and a half hours east of Corner Brook - sorta right in the middle. </h3> 

		<iframe src="https://www.google.com/maps/d/embed?mid=zRupPtnf0b_4.kNYf-dCbpjao" width="640" height="480"></iframe>
		<br>
		<h3>Below are some links to Accommodations within a three hour driving distance of Burlington, some are much closer.</h3> 

		<h3><a href="http://www.newfoundlandlabrador.com/PlanYourTrip/HotelBBRental?Keywords=Search+Accommodations&showMap=0&CityTownID=-1&DrivingOrderID=&TrailID=6034&BusinessGroupID=16101&showMap=0" target="_blank">Dorset Trail</a></h3>
		
		<h3><a href="http://www.newfoundlandlabrador.com/PlanYourTrip/HotelBBRental?SortBy=AZ&Keywords=Search+Accommodations&showMap=0&CityTownID=C782&DrivingOrderID=14727822&TrailID=&BusinessGroupID=16101&showMap=0" target="_blank">Deer Lake and Area</a></h3>
		
		<h3><a href="http://www.newfoundlandlabrador.com/PlanYourTrip/HotelBBRental?SortBy=AZ&Keywords=Search+Accommodations&showMap=0&CityTownID=&DrivingOrderID=26166800&TrailID=&BusinessGroupID=16101&showMap=0" target="_blank">Springdale, Green Bay and Area</a></h3>
		
		<h3><a href="http://www.newfoundlandlabrador.com/PlanYourTrip/HotelBBRental?SortBy=AZ&Keywords=Search+Accommodations&showMap=0&CityTownID=&DrivingOrderID=28008545&TrailID=&BusinessGroupID=16101&showMap=0" target="_blank">Gander, Grand Falls-Windsor</a></h3>
		
		<h3>The closest accommodations are the Baie Vista Inn, Dorset Country Inn and Flatwater Pond Park - all about 30 minutes away.</h3>
		
		<h3>If none of these options work for you, feel free to reserve a camp site and pitch a tent in beautiful Perry's Cove. Only $20.00 for the weekend!</h3>
		
		<h3>Camping Passes start at 9am on Friday,(Should be Thursday Aug 27th for this year) Aug 28 and end at 11:00pm on Sunday. Passes are for one tent, and however many people you can fit inside it. If you have too many people for one tent, then bring two tents and book two passes. Space is limited so reserve your spot now.</h3>
		
		<h3>You can also bring a camper or an RV. We'll try to help you out with somewhere to park it. </h3>
		
		<h3>***THE GLAMPING TENTS WILL NOT BE AVAILABLE FOR THE GATHERING AS THEY ARE RESERVED FOR ARTISTS AND CHEFS</h3>
		
		<hr>
		<h1>The Gathering Camping Pass<br><span>$20</span></h1>
		<h2>Thursday, August 27 at 12:00 AM &mdash; Sunday, August 30 at 4:00 PM</h2>
		
		
        <p><a href="http://www.eventbrite.ca/e/the-gathering-camping-pass-tickets-16262942900"  target="_blank" class="button">Purchase Now</a></p>
		<hr>
		<img src="/assets/images/content/tickets/camping.jpg">
		
		{% include content-footer.inc.html %} 
	</div>
</section>
