---
layout: default
title: The Gathering Burlington
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Contact Us</span><br>
		Send us your questions!</h1>
		<hr>
		<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
		action="https://ethicalux.wufoo.com/forms/z13riwqf19fyvn9/#public">
		
		<ul>
		
		<li id="foli4" class="notranslate      ">
		<label class="desc hide" id="title4" for="Field4">
		Name
		</label>
		<span>
			<label for="Field4">First</label>
			<input id="Field4" name="Field4" type="text" class="field text fn" value="" size="8" tabindex="1" />
		</span>
		<span>
			<label for="Field5">Last</label>
			<input id="Field5" name="Field5" type="text" class="field text ln" value="" size="14" tabindex="2" />
		</span>
		</li>
		<li id="foli3" class="notranslate      ">
		<label class="desc" id="title3" for="Field3">
		Email
		</label>
		<div>
		<input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" /> 
		</div>
		</li>
		<li id="foli6" 
		class="notranslate"><label class="desc" id="title6" for="Field6">
		Message
		</label>
		
		<div>
		<textarea id="Field6" 
		name="Field6" 
		class="field textarea medium" 
		spellcheck="true" 
		rows="10" cols="50" 
		tabindex="4" 
		onkeyup=""
		></textarea>
		
		</div>
		</li> <li class="buttons ">
		<div>
		
		<input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"
		/></div>
		</li>
		
		<li class="hide">
		<label for="comment">Do Not Fill This Out</label>
		<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
		<input type="hidden" id="idstamp" name="idstamp" value="9wi5x0CUkgyzSpnR5Rd50/KiPQwwBLpSPyHwrgov9BQ=" />
		</li>
		</ul>
		</form> 

		<hr>
		
		<h2><a href="mailto:thegatheringburlington@gmail.com">thegatheringburlington@gmail.com</a></h2>
		
		<h3><strong>Burlington, NL</strong><br>
		There’s only one road in, and one road out so if you made it that far you’ll be fine!</h3>
		
		<a href="https://www.google.ca/maps/place/Burlington,+NL/@49.7473425,-56.0124394,6z/data=!4m2!3m1!1s0x4b7837a36794846f:0xdd129974466c0fc7" target="_blank" class="button">Google Maps</a>
		
		{% include content-footer.inc.html %} 
	</div>
</section>
