---
layout: default
title: Sherman Downey
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Sherman Downey</h1>
		<img src="/assets/images/content/music-sherman_downey.png" alt="music-sherman_downey.png">
		<h2><a href="http://www.shermandowney.ca/" target="_blank">www.shermandowney.ca</a></h2>

		<p>Bio Coming soon.</p>
		{% include content-music-footer.inc.html %} 
	</div>
</section>