---
layout: default
title: Alan Doyle
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Dave McHugh</h1>
		<img src="/assets/images/2015/mchugh.02.jpg" alt="">
		<h2><a href="http://www.davemchugh.com" target="_blank">davemchugh.com</a></h2>
		<p>Singer/songwriter Dave McHugh was born in Corner Brook, Newfoundland and Labrador, Canada.  He's gigged on every inch of his home province,  with an occasional flight or ferry ride to other parts of Canada to change things up.  </p>
		<p>Dave has been a big draw at festivals, bar gigs and corporate events. He has paid his dues in the industry, working the road in all types of weather , bringing his lively mix of covers and originals to eager fans everywhere. Dave keeps good company, having opened twice for world-renowned group Great Big Sea.  </p>
		<p>Lots of people sing and play, but Dave is an ENTERTAINER. Funny, easy-going and genuine, he makes everybody feel good. </p>
		<p>After recently selling two pubs in his home province, he's moved on to getting his music in front of crowds full-time again– without worrying whether he  remembered to fill the beer cooler. </p>
		<hr>
		<h2>“I’m excited about getting both feet back into music,” says McHugh, “ and I have plenty of stories to tell from a life well lived and my recent five years of being a bar owner certainly added a few good stories too!” Listen to the heartfelt lyrics of this release  and you'll know what he means. </h2>
		<p>Along with his new band, the new album, a crossover country rock record, was launched on May 29, 2015 at the Corner Brook Arts and Culture Centre but select radio stations have been playing singles since late April. The album titled “Whatever Makes You Happy” is receiving a lot of positive buzz on social media.  There are thirteen original songs, smart, well-crafted, performed with skill, conviction and drive and recorded and mastered in extremely high quality. </p>
		

		{% include content-music-footer.inc.html %} 
	</div>
</section>