/* -------------------------------------------------- */

/* !layout blocks */

/* -------------------------------------------------- */

body {
	background: $black;
	.fixed {
		position: fixed;
		z-index: -1;
	}
}
*.touch body {

	.fixed {
		background: #050400 url("/assets/images/panels/ipad.jpg") no-repeat 0 0;
		background-size: 100%;
	}
}
img {
	max-width: 100%;
	width: 100%;
}
.logo {
	width: 100%;
	max-width: 600px;
	img {
		max-width: 100%;	
	}
}
.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	min-height: 420px;
	display: table;
	overflow: hidden;
	.logo {
		margin: 0 auto;
	}
	.container {
		position: relative;
		z-index: 2;
		padding: $spacer/2;
		@include breakpoint($phablet) {
			padding: $spacer;
		
		}
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border: 12px solid $secondary;
		border-bottom: none;
	}
}	
.bg {
	@extend %full-coverage;
	z-index: 0;
}
*.no-touch .bg {
	background-size: cover;
	background-position: 50% 50%;
}
*.touch .bg {
	background: $black url("../assets/images/01.jpg") no-repeat 100% 100%;
	background-size: auto 100%;
}
.viewport {
	@include enable-hardware-acceleration;
	.content, .js_content {
		position: relative;
		width: 100%;
		@extend %fadeIn;
	}
}
.content {
	position: relative;
	width: 100%;
	.logo {
		max-width: 420px;
	}
	h1 {
		@include adjust-font-size-to(ms(12, $base-font-size), 2.8);
		@include rhythm(0,0,0,0.25);
		font-family: "HelveticaNeue-CondensedBlack", "Helvetica Neue", "Helvetica", Arial, sans-serif;
		font-weight: bolder;
		&:nth-child(2) {
			@include rhythm(0,0,0,1.25);
		}
	}
	h2 {
		@include rhythm(0,0,0,2);
	}
}
.wrapper {
	@extend %wrapper;
	max-width: 100%;
	z-index: 2;
	@include clearfix;
	padding: $spacer $spacer/2;
	@include breakpoint($phablet) {
		padding: $spacer;
		
	}
	@include breakpoint($tabtop) {
		max-width: $max-width;
		padding: $spacer $spacer*3 $spacer $spacer;
	}
}
.row {
	@include row();
	margin-bottom: $spacer;
	> [class*="col"] {
		@include column (6);
	}
}
img {
	display: block;
	margin-bottom: $spacer/2;
	@include breakpoint($phablet) {
		margin-bottom: $spacer;
	}
}
[role], footer {
	@include clearfix;
}
.cards {
	position: relative;
	z-index: 5;
	border-top: 12px solid $secondary;
	
	float: left;
	width: 100%;
	@include clearfix;
}
a.card {
	&:after {
		content: "";
		background: $primary;
		border-bottom: 12px solid $secondary;
		border-right: 12px solid  $secondary;
		@extend %full-coverage;
		@include opacity(0);
		@include single-transition(all, 260ms, ease-out);
	}
	&:hover {
		.container {
			//@extend %zoomIn;
		}
		&:after {
			@include opacity(0.85);
		}
	}
}
.card {
	@include panel(1);
}


.card {
	background: $black;

	@include breakpoint($phablet) {
		@include intrinsic-ratio(1, 100%/2);
	}
	@include breakpoint($desktop) {
		@include intrinsic-ratio(1, 100%/3);
	}
	float: left;
	.container {
		> div:first-child {
			
			* {
				color: $white;
				text-transform: uppercase;
			}	
		}
	}
	.button {
		width: auto;
		display: inline-block;
	}
	.bg {

	}
	h1 {
		border-top: 6px solid $white;
		border-bottom: 6px solid $white;
		display: inline-block;
		padding: $spacer/8;
		margin: $spacer/8;
		line-height: 0.9em;
	}
	nav {
		white-space: nowrap;
	}
	[class*="icon"] {
		font-size: 44px;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		content: "";
		border-bottom: 12px solid $secondary;
		border-right: 12px solid  $secondary;
	}
}
#feed {
	.card {
		.container {
			display: none;
		}
		&:hover {
			.container {
				display: inherit;
				@extend %zoomIn;
			}
		}
	}
}
footer {
	border-top: 1px solid rgba($white, 0.5);
	margin-top: $spacer*2;
	padding-top: $spacer/2;
	nav {
		white-space: nowrap;
		li {
			float: left;
		}
		a {
			padding: 0 !important;
			* {
				padding: 0 !important;
			}
		}
	}
}
