/* -------------------------------------------------- */

/* !type breakpoints */

/* -------------------------------------------------- */
@include breakpoint($phone) {
	$base-font-size		: 10px;
	$base-line-height	: 18px;
	
	@include establish-baseline;
	
}
@include breakpoint($phablet) {
	$base-font-size		: 14px;
	$base-line-height	: 18px;
	
	@include establish-baseline;
	
}
@include breakpoint($desktop) {
	$base-font-size		: 14px;
	$base-line-height	: 18px;
	
	@include establish-baseline;
	
}