/* !typography */
//@include ms-list-output(0, 10, $base-font-size);
@include establish-baseline;

body {
	background: #111;
	font-family: "Montserrat", "Helvetica", Arial, sans-serif;
	color: $white;
	//@include improve-text-rendering;
}

h1, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	@include adjust-font-size-to(ms(8, $base-font-size), 2.25);
	@include rhythm(0,0,0,0);
	span {
		@include adjust-font-size-to(ms(-4, $base-font-size), 0.5);
		display: inline-block;
	}
}
img + h1 {
	position: relative;
	margin-top: -$spacer/2 !important;
}
h2 {
	@include adjust-font-size-to(ms(5, $base-font-size), 1.75);
	@include rhythm(0.5,0,0,0.5);
}
h3 {
	@include adjust-font-size-to(ms(3, $base-font-size), 1.65);
	@include rhythm(0,0,0,1);
	font-weight: lighter;
	strong {
		font-weight: bolder;
		text-transform: uppercase
	}
}
h4 {
	@include adjust-font-size-to(ms(2, $base-font-size), 1.3);
	@include rhythm(0,0,0,0.1);
	span {
		font-weight: lighter;
		color: $primary;
	}
}
h5, time, .date {
	@include adjust-font-size-to(ms(1, $base-font-size), 1.2);
	@include rhythm(0,0,0,0.75);
}
h6 {
	@include adjust-font-size-to(17px);
}
p {
	@include adjust-font-size-to(ms(0, $base-font-size), 1.1);
	@include rhythm(0,0,0,1.25);
}
a {
	color: $links;
	text-decoration: none;
	@include single-transition(all, 260ms, linear);
}
hr {
	border: none;
	border-top: 1px solid rgba($white, 0.5);
	@include clearfix;
	width: 100%;
	height: $spacer;
	margin-top: $spacer/2;
}
table {
	width: 100%;
	td {
		font-weight: bold;
		text-transform: uppercase;
		padding: $spacer/4 0;
	}
}
.meta {
	@include adjust-font-size-to(ms(1, $base-font-size), 0);
	margin: 0;
}

.content .sched {
	h2 {
		@include rhythm(0.5,0,0,0.5);
	}
	
	h3 {
		@include rhythm(0,0,0,2);
	}

}