---
layout: default
title: Musical Line-Up
---
<section class="content">
	<div class="wrapper js_nav">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		This year featuring the amazing...</h1>
		
		<h1><span></span><br>
		Alan Doyle</h1>
		<img src="/assets/images/content/music-alan_doyle.jpg" alt="alan doyle">
		<p><a href="alan-doyle/" class="button">Artist Bio</a></p>
		<h2><a href="http://alandoyle.ca">alandoyle.ca</a></h2>

		<h1><span></span><br>
		Dave McHugh</h1>
		<img src="/assets/images/2015/mchugh.01.jpg" alt="Dave McHugh">
		<p><a href="dave-mchugh/" class="button">Artist Bio</a></p>
		<h2><a href="http://www.davemchugh.com">davemchugh.com</a></h2>

		<h1><span></span><br>
		Shanneyganock</h1>
		<img src="/assets/images/content/music-shanney.jpg" alt="shanneyganock">
		<p><a href="shanney/" class="button">Artist Bio</a></p>
		<h2><a href="http://www.shanneyganock.com/">www.shanneyganock.com</a></h2>

		<h1><span></span><br>
        THE SECRETS</h1>
        <img src="/assets/images/content/music-the_secrets_crop.jpg" alt="the secrets">
        <p><a href="the-secrets/" class="button">Artist Bio</a></p>
        <h2><a href="http://www.thesecrets.ca/" target="_blank">www.thesecrets.ca</a></h2>
		
		<h1><span></span><br>
		FORTUNATE ONES</h1>
		<img src="/assets/images/content/music-fortunate_ones_crop.jpg" alt="fortunate ones">
		<p><a href="fortunate-ones/" class="button">Artist Bio</a></p>
		<h2><a href="http://fortunateones.ca" target="_blank">fortunateones.ca</a></h2>
		
		<h1><span></span><br>
		Sherman Downey</h1>
		<img src="/assets/images/content/music-sherman_downey.jpg" alt="sherman downery">
		<p><a href="sherman-downey/" class="button">Artist Bio</a></p>
		<h2><a href="http://www.shermandowney.ca" target="_blank">www.shermandowney.ca</a></h2>

		<h1><span></span><br>
		Fergus O'Byrne &amp; Jim Payne</h1>
		<img src="/assets/images/content/music-jim_fergus.jpg" alt="jim fergus">
		<p><a href="jim-fergus/" class="button">Artist Bio</a></p>
		<h2><a href="http://www.ryansfancy.com" target="_blank">www.ryansfancy.com</a></h2>
        <h2><a href="http://www.singsonginc.ca" target="_blank">www.singsonginc.ca</a></h2>

 		<h2>Plus much more!</h2> 
		
		{% include content-footer.inc.html %} 
	</div>
</section>
