---
layout: default
title: Steve Poltz
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Steve Poltz</h1>
		<img src="/assets/images/content/music_stevepoltz.jpg" alt="music_stevepoltz.jpg">
		<h2><a href="http://poltz.com" target="_blank">www.poltz.com</a></h2>
		
		<p>Steve Poltz is not normal.</p>
		<p>He was born in Halifax, Nova Scotia (Canada) but has lived most of his life in 
		Southern California and those geographic poles are quite likely responsible for his 
		unhinged genius. He is a dual citizen - Canada/USA - but has often said that, 
		"should a hostage situation arise, I become conveniently Canadian." </p>
		
		<p>Over the course of his life he’s met Elvis Presley (who hugged his sister for far too 
		long), trick or treated at Liberace’s house (each finger had a diamond ring), was 
		Bob Hope’s favourite altar boy (according to him), bravely traveled the world 
		busking before he knew how to do it, famously co-wrote “You Were Meant For Me” 
		with Jewel, pissed off David Cassidy and can count some of the world’s coolest 
		people as fans. </p>
		
		<p>He’s also an ex high school wrestler (98 pound class), an obsessed baseball fan, a 
		yoga practitioner, a hopeless romantic, a smart-ass philosopher and a child-like 
		adventurer/observer with an absurdist’s view of this crazy world and the various 
		life-forms that inhabit it. He's interested in it all - the big and the small, the sublime 
		and the ridiculous, the terrestrial and the cosmic. He doesn't just love life, he rides 
		it bareback, naked, at a full gallop with one hand clenched deep in its mane and the 
		other waving to anyone watching as he flies by. Time is ticking and he has work to 
		do... </p>
		
		<p>As a recording artist, he’s fronted the semi-legendary Rugburns and is responsible 
		for a critically lauded body of work on his own: One Left Shoe, Chinese 
		Vacation, Answering Machine, The Barn (a children's album), Tales From The 
		Tavern (a performance DVD), Traveling, Unraveling, Dreamhouse, Noineen Noiny 
		Noin and most recently the soundtrack for the acclaimed Sundance-screened 
		documentary film, Running Wild - The Life of Dayton O. Hyde. </p>
		
		<p>As good as his albums are (and they're very, very good), Steve positively owns a 
		crowd when he's on stage, where the proverbial rubber hits the road. His shows are 
		the stuff of legend – no two are alike – and can take an unsuspecting audience 
		from laughter to tears and back again in the space of a single song. He is a master 
		of improvisational songwriting and works without a set list to be free to react 
		instantly to the mood of a room. It's also worth mentioning that he is an 
		astonishing guitar player on top of everything else. He is quite possibly the most 
		talented, and engaging, solo performer on this planet. That's what 250+ shows a 
		year on three continents will do for you. </p>
		
		<p>Whether he's Canadian, or American, or simply from space there's no denying 
		there's only one Steven Joseph Joshua Poltz and to know him is to love him.</p>
		
		{% include content-music-footer.inc.html %}  
	</div>
</section>