---
layout: default
title: Jim Payne & Fergus O’Byrne
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Jim Payne & Fergus O’Byrne</h1>
		<img src="/assets/images/content/music-jim_fergus.jpg" alt="music-jim_fergus.jpg">	
		<h2><a href="http://www.ryansfancy.com" target="_blank">www.ryansfancy.com</a></h2>
        <h2><a href="http://www.singsonginc.ca" target="_blank">www.singsonginc.ca</a></h2>	
		<p>Two of Newfoundland’s most respected performers combine  instrumental prowess and humorous repartee, to cover a broad spectrum of Newfoundland folk culture, including songs, stories and dance tunes. Their repertoire includes rousing sea shanties and work songs, poignant ballads, comic ditties, folk tales and recitations, and toe-tapping jigs, reels and polkas on a variety of instruments.</p>
		{% include content-music-footer.inc.html %} 
	</div>
</section>