---
layout: default
title: The Gathering Story
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Read This!</span><br>
		Festival Information
		</h1>
		
		<h1>How to get here</h1> 
		<h3>Burlington is located on the Baie Verte Peninsula in the Green Bay region of Newfoundland and Labrador, Canada. If you’re flying, your destination airport is Deer Lake, YDF and when you land, you need to drive another hour and a half heading east on the TCH. You will drive roughly 90km until you arrive at Baie Verte Junction where you will turn left. From there, drive about forty-five minutes until you see the turn off to Burlington/Middle Arm. Go right. There’s only one road in, and one road out so if you made it that far you’ll be fine. If you are coming from St John’s it’s about a six and a half hour drive, and you’d turn right at the Baie Verte junction and look for the Burlington sign. Please drive carefully and WATCH OUT FOR MOOSE!</h3>

		<h3>If that isn’t clear there’s only one Burlington in NL, Canada. Google Maps people! <a href="https://maps.google.ca/maps?q=Burlington,+NL&ll=49.738016,-56.043663&spn=0.133352,0.330963&client=safari&oe=UTF-8&hnear=Burlington,+Division+No.+8,+Newfoundland+and+Labrador&gl=ca&t=m&z=12" target="_blank">Google Maps</a></h3>
		<hr>
		<h1>What to Bring</h1>
		<h3>If you need running water, there’s a brook. If you want heat, grab some wood. If you want to cook, bring a Colemen. This is a back to the elements festival and we encourage you to bring only what you need. Reusable water bottles, cups, utensils, and sum deo for your B.O. Whatever you bring please take with you when you leave to keep the place as beautiful as you found it.</h3>
		<hr>
		<h1>Other things you might need</h1>
		<h3>Camera - Bug spray - Canoes/Kayaks - Ugly Stick - Guitar - Binoculars - definitely rubber boots - A sketch book, anything from the Bulk Barn - Wetsuit and snorkel - Kite.</h3>
		<hr>

		<h1>Alcohol Consumption</h1>
		<h3>The Gathering is an all ages, non-licensed event and therefore no alcohol will be sold or permitted on the Gathering Grounds. If you choose to BYOB for consumption at your campsite or other legal location we request that you drink responsibly, always have a designated driver and abide by all appropriate laws.</h3>		
		
		{% include content-footer.inc.html %}
	</div>
</section>
