---
layout: default
title: Ashelin
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Duane Andrews &amp; Craig Young</h1>
		
		
		<img src="/assets/images/content/music-andrewsyoung.jpg" alt="music-andrewsyoung.jpg">
		<h2><a href="http://www.charliesboogie.com" target="_blank">www.charliesboogie.com</a></h2>
		
		<p>An evening with Duane Andrews and Craig Young will take you from the traditional 
		music of Newfoundland and Labrador, down through the Appalachian Mountains into 
		the land of bluegrass and country music and across the ocean to French cabarets filled 
		with gypsy and swing music. These two consummate guitar players complement their
		enchanting guitar styles with an occasional song from Craig’s rich repertoire.</p>
		<p>Duane Andrews’s music is the product of a great ear, an adventurous spirit and a love 
		of music that is beyond category. Uniting what would seem to be impossible – traditional 
		Newfoundland music with the Gypsy Jazz of the legendary Django Reinhardt, Andrews
		makes it not just work – he makes it soar. As a multiple award winning guitarist, 
		composer and producer he has literally brought his music to audiences around the 
		world from his home in Newfoundland, Canada to Tasmania with stops in between on 
		stages such as Newport Folk and Cork Jazz festivals.</p>
		<p>Originally from Francois, Newfoundland, Craig Young has been playing guitar since the 
		age of seven and started playing in his first band around the age of thirteen. Rock n’ 
		Roll and Country music became the main avenues of learning and a move to Alberta 
		in 1993 allowed for Young to play lead guitar with several prominent local artists on the 
		club scene. Eventually as a member of the Terri Clark band he relocated to Nashville 
		Tennessee, where he was based for nearly eight years. Craig has won four CCMA 
		awards for the Canadian Country Music All Star Band – Guitarist category and has 
		had several top 40 singles, including the Top 10 Video on Canadian CMT for “You 
		Can’t Take It With You” with the wonderful help of Miss Terri Clark. Craig now lives and 
		performs in the St. John’s area and teaches at New Wave Music in Paradise, NL.</p>
		
		{% include content-music-footer.inc.html %} 
	</div>
</section>