---
layout: default
title: Schedule
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>

		<h1><span>August 27 - 30, 2015</span><br>
		Tickets Now Selling</h1>

		<h2>Browse the passes below or skip a pass:</h2>
		<p><a class="button" href="#premium">Weekend Pass</a>
		<a class="button" href="#entertain">Entertainment only</a></p>
		<br>
		<p><a class="button" href="#premiumday">Premium Day Pass</a>
		<a class="button" href="#day">Day Pass</a>
		<a class="button" href="#camping">Camping Pass</a></p>
		<br>
		<p><a class="button" href="#comedy">Comedy Night</a>
		<a class="button" href="#hikes">Chef Hikes</a>
		<a class="button" href="#crawl">Shed Crawl</a>
		<a class="button" href="#supper">Opening Supper</a>
		<a class="button" href="#picnic">Brook Picnic</a></p>
		<br>
		<p><a class="button" href="#gospel">Gospel Show</a></p>

		<hr>

		<h1 id="premium">Premium Weekend Pass<span>Only 500 availalbe!</span><br>
		$175 - BOOK NOW FOR EARLY BIRD PRICE - $150 <span>(ends May 20th)</span></h1>
		<h2>August 27, 2015 9:00 AM &mdash; August 30, 2015 7:00 PM</h2>
		<h3>Your <b>PREMIUM WEEKEND PASS</b> includes amazing food prepared by some of the provinces finest chefs on The Gathering Grounds, Friday and Sat between 12-5pm throughout the day.</h3>

		<img src="/assets/images/content/tickets/premium_1.jpg" alt="premium weekend pass photo">
	
		<img src="/assets/images/content/tickets/premium_3.jpg" alt="premium weekend pass photo">

		<h3>This <b>PREMIUM WEEKEND PASS</b> also includes all the entertainment on The Gathering Grounds throughout the weekend including Alan Doyle, Sherman Downey, The Fortunate Ones, The Secrets, ShanneyGanock and more! 
		If you are camping, we will also throw in a <b>WEEKEND CAMPING PASS</b>.</h3>

		<h3>It <b>DOES NOT</b> include Chef Hikes, Comedy Shows, Shed Crawl, or Opening night Jiggs Dinner.</h3> 

		<h3>Book now for EARLY BIRD SPECIAL! (Ends May 20th)</h3>

		<p><a href="http://www.eventbrite.ca/e/premium-weekend-pass-tickets-16010873955" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="entertain"><span>Weekend Pass - </span><br>
		ENTERTAINMENT ONLY<br>
		<span>$75</span></h1>

		<h3>This weekend pass <b>DOES NOT</b> include food on the Gathering Grounds, but does include all the entertainment including local music and evening concerts featuring Alan Doyle, Sherman Downey, The Fortunate Ones, The Secrets, Shanneyganock AND MORE!</h3> 

		<h3><b>***There will be food vendors throughout the town where you can purchase food during the weekend. Be sure to get a delicious burger at OmeFry Food Truck.</b></h3>

		<h3>Chef Hikes, Comedy Shows, Shed Crawl, or Opening night Jiggs Dinner not included.</h3>

		<p><a href="http://www.eventbrite.ca/e/weekend-pass-entertainment-only-tickets-16262678108" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="premiumday">PREMIUM DAY PASS<br> 
			<span>INCLUDES FOOD<br>
			$90</span></h1>
		<h2>August 28 or 29, 2015</h2>

		<h3>Your <b>PREMIUM DAY PASS</b> includes amazing food prepared by some of the provinces finest chefs on The Gathering Grounds, Friday and Sat between 12-5pm throughout the day. <b>PLUS</b> all music and entertainment on the day you come! Chef Hikes, Comedy Shows, Shed Crawl, or Opening night Jiggs Dinner all sold separately.</h3> 

		<p><a href="http://www.eventbrite.ca/e/premium-day-pass-includes-food-tickets-16355601043" target="_blank" class="button">Purchase Now</a></p>
		<hr>


		<h1 id="day">Day Pass<br>
		<span>entertainment only<br>
		$40</span></h1>
		<h2>August 28 or 29, 2015</h2>
		<h3>Come to Burlington, Middle Arm and Smith's Harbour for the day, and explore the area! Visit Hummock View Greens, and take in the activities on the Gathering Grounds including the amazing live music all day and all night!</h3> 

		<h3>THIS PASS DOESN'T INCLUDE FOOD ON THE GATHERING GROUNDS.</h3> 
		
		<h3><b>***There will be food vendors throughout the town where you can purchase food during the weekend. Try a delicious burger at OmeFry!</b></h3>

		<p><a href="http://www.eventbrite.ca/e/individual-day-passes-tickets-16262771387" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="camping">Gathering Camping Pass<br>
		<span>$20</span></h1>
		<h2>Thursday, August 27 at 12:00 AM &mdash; Sunday, August 30 at 4:00 PM</h2>
		<img src="/assets/images/content/tickets/camping.png" alt="camping at the gathering photo">
		<h3>Some of the most fun at the Gathering all happens at Tent City! Pitch a tent in beautiful Perry's Cove!</h3> 

		<h3>Please be sure to respect the land and keep it as beautiful as when you arrived!</h3>
        <p><a href="http://www.eventbrite.ca/e/the-gathering-camping-pass-tickets-16262942900"  target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="comedy"><span>Shaun Majumder &amp; Friends</span><br> Comedy night<br>
		<span>$40</span></h1>
		<h2>Thursday, August 27 at 7:30 PM and 10:00 PM</h2>
		<h3><b>This event ​ ​was so popular last year we have added A Second Show!</b></h3> 

		<h3>Join Shaun Majumder and friends for a hilarious night of comedy and great stories. Shaun's guests can be anyone from professional standup comedians to "buddy from down da'road".</h3>

		<img src="/assets/images/content/tickets/comedy.jpg" alt="comedy night">

		<h3>Keep in mind that this is an adult-ish show. Not "Andrew Dice Clay adult" but still... sometimes comedians say things that might not be for everyone. All are welcome, but it's up to you if you want to bring your young kids or not. Tweens and teens are fine as they all have the internet and heard it all anyway.</h3>

		​<h3>This will sell out so be sure to get your tickets now!</h3>

		<p><a href="http://www.eventbrite.ca/e/shaun-majumder-friends-comedy-night-tickets-16262900774" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="hikes">The Gathering Chef Hikes<br>
		<span>$50</span></h1>
		<h2>Friday, August 28 and Saturday, August 29</h2>

		<h3>Experience the natural beauty of rural Newfoundland, as Shaun Majumder leads you on a rugged hike over the hills and through the woods to descend into a beautiful hidden cove where live music and incredible food prepared over a cracklin fire awaits.</h3> 

		<img src="/assets/images/content/tickets/tickets-chef-hike_6.jpg" alt="comedy night">

		<h3>This 1.5km hike traverses moderately rugged terrain with uphill climbs on uneven footing. This is an actual hike through the woods, which is one of the best parts about this adventure, however if you are not active or have problem knees, backs or hips, it is not recommended you participate in this event.</h3>

		<h3>NO FLIP FLOPS PLEASE. MUST WEAR HIKING BOOTS OR ATHLETIC SHOES.</h3>

		<img src="/assets/images/content/tickets/tickets-chef-hike_1.jpg" alt="hike photo banner">

		<h3>We are so excited about our featured chefs for our two hikes this year!</h3>

		<h3>On <b>Friday</b> we have from <b>The Adelaide Oyster House</b>:<br> 
		<a href="http://www.thetelegram.com/Living/2014-11-01/article-3924082/Steve-Vardy,-b…" target="_blank">Chef Stephen Vardy</a></h3>

		<img src="/assets/images/content/tickets/chef-vardy_2.jpg" alt="chef stephen vardy">
		

		<h3>And on <b>Saturday</b>, from the world renowned <b>Fogo Island Inn</b>: <br> 
		<a href="https://youtu.be/pwQp6J6tJWQ" target="_blank">Chef Murray McDonald</a></h3>

		<img src="/assets/images/content/tickets/chef-murray_2.jpg" alt="chef murray McDonald and fargo island inn">
		

		​​​​<h3>Seeing as we have two of the finest chefs in Canada joining us this year, you might want to book both days!</h3>

		<p><a href="http://www.eventbrite.ca/e/gathering-chef-hikes-tickets-16262222746" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="crawl"><span>Rex Goudie's</span><br>Summer Mummer Shed Crawl<br>
		<span>$20</span></h1>
		<h2>Saturday, August 29, 2015 from 2:00 PM &mdash; 4:00 PM</h2>

		<img src="/assets/images/content/tickets/shed_crawl.jpg" alt="rex goudie shed crawl" >

		<h3>Join local rock star/heavy machinery mechanic, Rex Goudie as he takes you on a tour of some of Burlington's finest back yard social hubs to eat drink and be merry! From Carl Lush's "Possum Lodge" to Danny Foster's "Harbour View Lodge" experience the local tradition of a shed party with 300 of your newest best buddy's!</h3>

		<p><a href="http://www.eventbrite.ca/e/rex-goudies-summer-mummer-shed-crawl-tickets-16262851627" target="_blank" class="button">Purchase Now</a></p>

        
        <img src="/assets/images/content/photos-2014-01.jpg" alt="summer mummers" >

        <h3>And feel free to dress like a Summer Mummer!</h3>
        
        <hr>

        <h1 id="supper"><span>Opening Night</span><br> 
        Jiggs Dinner Supper<br>
        <span>$10 (LIMITED SEATS!)</span></h1>
        <h2>Thursday, August 27, 2015 from 5:00 PM &mdash; 7:00 PM</h2>

		<h3>Kick off the Gathering weekend with Jiggs Dinner in Middle Arm! Shaun Majumder hosts the meal featuring local musical talent.</h3>

		<h3>Newfoundland Jiggs Dinner has been a staple in households on the island for hundreds of years.</h3> 

		<img src="/assets/images/content/tickets/tickets-jiggs.jpg" alt="jiggs dinner supper" >

​​​​ 		<h3>Space is limited to get your ticket now!</h3>

		<p><a href="http://www.eventbrite.ca/e/opening-night-jiggs-dinner-supper-tickets-16263589835" target="_blank" class="button">Purchase Now</a></p>

		<hr>

		<h1 id="picnic">Picnic by the Brook<br>
		<span>With Chef Jeremy Charles</span><br>
        <span>$35</span></h1>
        <h2>Friday, August 28, 2015 from 11:00 AM &mdash; 2:00 PM</h2>

		<h3>One of our most popular events last year was our <b>Picnic By the Brook</b> with Chef <a href="http://www.theglobeandmail.com/life/food-and-wine/food-trends/jeremy-charles-canadas-real-top-chef/article20495580/" target="_blank">Jeremy Charles</a> from critically acclaimed <b>Raymonds</b> in St. John's NL.</h3>

		<h3>Take just a short easy walk through the woods to this beautiful setting. "The Brook" is a popular swimming and sunbathing spot and is the perfect environment for this relaxing event.</h3>

		<h3>After you enjoy a delicious lunch prepared by chef Jeremy, go for swim, listen to live music and relax.</h3> 

		<p><a href="http://www.eventbrite.ca/e/picnic-by-the-brook-with-chef-jeremy-charles-tickets-16263961948" target="_blank" class="button">Purchase Now</a></p>

		<img src="/assets/images/content/tickets/tickets-picnic.jpg" alt="picnic">

		<hr>
		<h1 id="gospel">Sunday Afternoon Gospel Show<br>
		<span>Featuring The Secrets</span>
		</h1>
		<p><a href="http://www.eventbrite.ca/e/sunday-afternoon-gospel-show-tickets-16263885720" target="_blank" class="button">Purchase Now</a></p>


		{% include content-footer.inc.html %}
	</div>
</section>
