---
layout: default
title: The Folk of Bay
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		The Folk of Bay</h1>
		<img src="/assets/images/content/music_folkbay.jpg" alt="music_folkbay.jpg">
		<h2><a href="http://www.bsgfolkart.ca/" target="_blank">www.bsgfolkart.ca</a></h2>
		
		<p>In 2007. A group of people started a Folk Arts Council in the Bay St. George area. The following year, several people met weekly to play the button accordion. Some folks were beginners and others wanted to improve their skills.</p>

		<p>The next year a fiddle group was started and then a mandolin group was added. A year later bodhran and guitar groups were added. This year we were pleased to add the tin whistle to our instrument sessions.</p>
		
		<p>The fiddle group was the first to play at local festivals and gatherings but that quickly expanded to include accordions, guitars, mandolin and bodhrans we became  The Folk of the Bay.</p>
		
		<h3>All ages are welcome!</h3>
		
		<p>There are about thirty in our group; fiddlers, Mandolin players, bodhran players, guitar players and a number of accordion players.  We get together once a month, but play with our individual groups each week. At the present time we have over eighty people playing music each week. Several of our members are multi instrumentalists.</p>
		
		<p>We have played at local festivals such as the Blueberry Festival at St. Georges, the Trails, Tunes and Tails Festival in Norris Point, the 36thAnnual  Nlfd Folk Arts Society Festival in St. John’s and many local gatherings, charity events and concerts.</p>
		
		<p>We all love playing music and love our Traditional Music and Culture.</p>
				
		{% include content-music-footer.inc.html %} 
	</div>
</section>