---
layout: default
title: Fortunate Ones
---
<section class="content">
	<div class="wrapper">
		<div class="logo"><img src="/assets/images/logo-white.png" alt="The Gathering"></div>
		<h1><span>Music</span><br>
		Fortunate Ones</h1>
		<img src="/assets/images/content/music-fortunate_ones.jpg" alt="music-fortunate_ones.jpg">
		<h2><a href="http://fortunateones.ca/" target="_blank">fortunateones.ca</a></h2>

		<p>Fortunate Ones is a Canadian pop-folk duo made up of singer/guitarist Andrew James O’Brien and singer/pianist/accordion player Catherine Allan – endearing audiences with wide-eyed energy, pragmatic optimism, and an earnest mission for connection.</p>


		<p>Andrew and Catherine grew up on opposite sides of the island of Newfoundland - Mount Pearl and Corner Brook respectively. It was in St. John’s where the pair met and began to sing together. One night in 2010, Andrew heard Catherine sing harmony with her brother at a private gathering in downtown St John’s. He had to sing with her. The next day he got up the nerve, left her a note, she acquiesced, and within 48 hours they were singing together on stage. While it was a road from that evening to the formation of Fortunate Ones in 2013, their beginnings are in keeping with one of the core messages they carry. That sometimes the most important decision you can make is to just say YES.</p>


		<p>From a musical family, the Allan home was a constant eclectic flow of instruments, singing and the stereo. Catherine studied classical piano, taught herself guitar in secret, and discovered the accordion by chance when her brother brought one home over Christmas in 2011. Musical exploration was the norm. After moving to St. John’s, Catherine’s induction to the East Coast music scene was rapid - performing with Andrew, recording and touring extensively with JUNO award-winning songwriter Amelia Curran, and appearing at festivals with Curran and East Coast songwriter Don Brownrigg.</p>


		<p>Andrew James O’Brien launched his music career with a well-received solo album Songs for Searchers (2011) – nominated for Best Pop Recording at the 2012 East Coast Music Awards. He toured heavily in Canada and the UK, opening for artists such as Sharon Shannon and Paul Brady. Catherine accompanied him. It was on a UK tour that they realized the direction their collaboration was taking. The appreciation shown by UK audiences bolstered the pair’s sense of purpose. Their music began to evolve to represent both of their sensibilities, skills and sounds.</p>


		<p>“We put a name on something that was naturally occurring, and then we took steps to follow it up. We would share equal duties vocally, musically, and conversing with the audience. It wasn’t Andrew James O’Brien with Catherine Allan anymore - it was already Fortunate Ones.”</p>
		
		<p>Plain and simple, they consider themselves fortunate to pursue their dreams. Their name reflects shared experience with audiences. It is about connecting people of all
		kinds, to make strangers friends, to elicit feelings of joy, hope, sadness, and contemplation – and the spirit that we are all in this together.</p>
		{% include content-music-footer.inc.html %} 
	</div>
</section>